__pycache__/
*.py[cod]
*$py.class

AnimatiEnv/
venv/
env/
*.egg-info/
*.egg
*.whl

AnimatiApp/management/

.env

/media/

*.log

*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyc
*/migrations/*__pycache__/

.idea/
.vscode/

# Uninstall dependencies
uninstall.txt
installed.txt
