__pycache__/
*.py[cod]
*$py.class

AnimatiEnv/
venv/
env/
*.egg-info/
*.egg
*.whl

.env

/static/
/media/

*.log

*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyc
*/migrations/*__pycache__/
*/migrations/[0-9]*.py

.idea/
.vscode/

# Uninstall dependencies
uninstall.txt
installed.txt
